body{
    background-color: #ffffff !important;
}

#banner{
    margin-left: 0 !important;
    padding-left: 0 !important;
    height: 300px;
    background-color: #ccc;
    margin-top: -25px;
}

#vote-categories{
    margin-top: 30px;
}

.vote-category{
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: grey ;
    width: 160px;
    padding: 5px 5px 5px 10px;
    color: #ffffff;
    margin-bottom: 7px;
    cursor: pointer;
}

.members-button-two{
    outline-color: blue;
}

#main-content{
    background-color: #F8F9FA;
}


.login-signup .inner {
    border: 1px solid #e6eaed;
    border-radius: 3px;
    padding: 35px;
    background: #fff !important;
}

.login-signup {
    height: 80vh;
    overflow: auto;
    background: #f8f9fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*.intl-tel-input .selected-flag .iti-flag {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/

/*.iti-flag.gh {*/
/*    height: 14px;*/
/*    background-position: -1885px 0px;*/
/*}*/
/*.iti-flag {*/
/*    width: 20px;*/
/*    height: 15px;*/
/*    -webkit-box-shadow: 0px 0px 1px 0px #888;*/
/*    box-shadow: 0px 0px 1px 0px #888;*/
/*    !*background-image: url(/images/flags.png);*!*/
/*    background-repeat: no-repeat;*/
/*    background-color: #DBDBDB;*/
/*    background-position: 20px 0;*/
/*}*/

.figure{
    background-color: #fff !important;
    border-radius: 6px !important;
    margin-bottom: 8%;
}

.last-figure-caption{
    color: #ffffff;
    font-size: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.vote-text{
    cursor: pointer;
}
